<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Config/etc/system_file.xsd">
   <system>
        <tab id="xumulus" translate="label" sortOrder="100">
            <label>Xumulus</label>
        </tab>
        <section id="xumulus_fastgalleryload" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Fast Gallery Load</label>
            <tab>xumulus</tab>
            <resource>Xumulus_FastGalleryLoad::fastgalleryload_configuration</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Gallery Setting</label>
                <field id="galleryload_enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
